*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "varela round", sans-serif;
	background-color: #151630;
}

.form{
	background-image: linear-gradient(rgba(55, 0, 255, 0.459), #1395ff);
	width: 400px;
	height: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	border-radius: 16px;
	padding: 120px 50px;
	box-shadow: 2px 2px 8px #000000;
}



.icon{
	position: absolute;
	top: 20px;
	right: 20px;
	color: rgba(255, 255,255, 0.5);
	color: pointer;
}

.form h1{
	color: white;
	font-size: 1rem;
	text-align: left;
	margin-bottom: 3rem;
}

.inputs{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	color: white;
	margin-bottom: 1.5rem;
	font-size: 0.7rem;
	border-bottom: 1px solid rgba(231, 231,231, 0.8);
}

.inputs:hover{
	border-bottom: 3px solid #fff;
	transition: 0.2s ease-in-out;
}
#email, 
#email::placeholder{
	width: 100%;
	border: none;
	background: none;
	outline: none;
	color: rgba(255, 2555, 255, 0.5);
	margin-top: 0.5rem;
	font-size: 0.8rem;
	padding-bottom: 0.5rem;
}

#password,
#password::placeholder{
	width: 100%;
	border: none;
	background: none;
	outline: none;
	color: rgba(255, 2555, 255, 0.5);
	margin-top: 0.5rem;
	font-size: 0.8rem;
	padding-bottom: 0.5rem;
}

#password2,
#password2::placeholder{
	width: 100%;
	border: none;
	background: none;
	outline: none;
	color: rgba(255, 2555, 255, 0.5);
	margin-top: 0.5rem;
	font-size: 0.8rem;
	padding-bottom: 0.5rem;
}
.button{
	width: 100%;
	background: white;
	border: none;
	border-radius: 30px;
	padding: 14px 14px;
	font-size: 0.9rem;
	margin-bottom: 1.5rem;
	font-weight: 500;
	text-transform: uppercase;
	color: #0145ff;
	outline: none;
	cursor: pointer;
}

.button:hover{
	
	width: 100%;
	background: transparent;
	border: 2px solid #fff;
	border-radius: 30px;
	padding: 14px 14px;
	font-size: 0.9rem;
	margin-bottom: 1.5rem;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
	outline: none;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

p{
	color: rgba(255, 255,255, 0.5);
	font-size: 0.8rem;
}